<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dstakhanov.findealscommithistory">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:fullBackupOnly="true"
        android:name="com.dstakhanov.app.InstrumentApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinDealsCommitHistory">
        <activity
            android:name="com.dstakhanov.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FinDealsCommitHistory.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="androidx.work.WorkManagerInitializer"
            tools:node="remove"
            tools:replace="android:authorities" />
    </application>

</manifest>